In [4]:
import pandas as pd

Games_list = pd.read_csv("games.csv")
Games_list

,студія,жанр,рік виходу,ціна
Майнкрафт,Mojang,Sandbox,2011,250
Скайрим,Bethesda,RPG,2011,1040
Fallout 4,Bethesda,Action/RPG,2015,780
Фортнайт,Epic Games,Survival sandbox,2017,бесплатно
Калибр,Wargaming.net,шутер от третьего лица,2019,бесплатно
League of Legends,Riot Games,MOBA,2009,бесплатно
The Forest,Endnight Games,Survival horror,2014,279

In [10]:
Games_list.head(1)

              студія     жанр  рік виходу ціна
Майнкрафт     Mojang  Sandbox        2011  250

In [13]:
Games_list.tail(1)

                    студія             жанр  рік виходу ціна
The Forest  Endnight Games  Survival horror        2014  279

In [18]:
Games_list.sample(3)

                       студія              жанр  рік виходу       ціна
League of Legends  Riot Games              MOBA        2009  бесплатно
Скайрим              Bethesda               RPG        2011       1040
Фортнайт           Epic Games  Survival sandbox        2017  бесплатно

In [20]:
Games_list.describe()

        рік виходу
count     7.000000
mean   2013.714286
std       3.592320
min    2009.000000
25%    2011.000000
50%    2014.000000
75%    2016.000000
max    2019.000000